* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
  margin: auto;
}

.container__card1 {
  margin-top: 170px;
}

.container__card {
  border: 1px solid rgb(172, 172, 172);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.67);
  width: 25vw;
  margin: auto;
  transition: transform 450ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container__card:hover {
  transform: scale(1.05);
}

.card__cat {
  border: 1px solid rgb(172, 172, 172);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 1px 10px -6px rgba(0, 0, 0, 0.67);
  width: 25vw;
  margin: auto;
  transition: transform 450ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: rgb(59, 74, 142);
}

.card__cat:hover {
  transform: scale(1.05);
  background-color: #27346a;
  color: white;
}

.container__card > h1 {
  font-weight: 700;
  font-size: 20px;
  color: rgb(59, 74, 142);
}

.container__description {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.container__description-title {
  font-weight: 500;
  font-size: 14px;
  margin: 10px;
}

.container__description > a {
  background-color: rgb(59, 74, 142);
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  margin: auto;
}

.container__description > a:hover {
  background-color: #27346a;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  gap: 15px;
}

.subtitle {
  position: fixed;
  width: 100vw;
  background-color: rgb(39, 52, 106);
  font-weight: 700;
  font-size: 20px;
  color: white;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.subt__cat {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: rgb(59, 74, 142);
  margin-top: 70px;
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-weight: 500;
  font-size: 14px;
}

.search__container > hr {
  border: 1px solid rgb(59, 74, 142);
  height: 0;
  width: 80vw;
  margin: 15px;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;
}

.search__form > button {
  background-color: rgb(39, 52, 106);
  border: 2px solid rgb(39, 52, 106);
  font-weight: 500;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 450ms;
}

.search__form > button:hover {
  transform: scale(1.05);
}

.search__form-input {
  width: 30vw;
  border: 2px solid rgb(39, 52, 106);
  padding: 10px;
  border-radius: 10px;
}

.search__form-input-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(39, 52, 106, 0.9);
  z-index: 10;
  padding-top: 20px;
}

.modal__cont {
  width: 80%;
  background-color: white;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: auto;
}

.modal__cont:hover {
  transform: none;
}

.modal__close {
  background-color: rgb(59, 74, 142);
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  margin: auto;
}

.modal__close:hover {
  background-color: #27346a;
}

.modal__principal-button {
  background-color: rgb(59, 74, 142);
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  margin: auto;
}

.modal__principal-button:hover {
  background-color: #27346a;
}

@media screen and (max-width: 1023px) {
  .container__card {
    width: 90vw;
    align-items: center;
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .subt__cat {
    text-align: center;
    margin-top: 100px;
  }

  .card__cat {
    text-align: center;
    width: 100%;
  }

  .card__cat > h1 {
    text-align: center;
    width: 100%;
  }
}
